<!DOCTYPE html>
<html>
<head><title>Applicants</title></head>
<body>
    <h1>List of Applicants</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Job Applied For</th>
        </tr>
        {% for applicant in applicants %}
        <tr>
            <td>{{ applicant.name }}</td>
            <td>{{ applicant.email }}</td>
            <td>{{ applicant.job_applied_for }}</td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="{% url 'add_applicant' %}">Add New Applicant</a></p>
</body>
</html>
